node_modules
scripts/_env/.localhost.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
lcov.info

.idea
.vscode

out
cache
cache_hardhat

**/lcov.info
**/report

**/.base-sepolia.env
**/.base-mainnet.env
**/localhost-addresses.json
