node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
lcov.info

.idea
.vscode

out
cache
cache_hardhat

deployments/hardhat
deployments/localhost

lcov.info
report